@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
    margin: 0 auto;
    height: 692px;
    max-height: 692px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: center;
    justify-content: center
}

.main{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 30px;
    width: 300px;
    height: 450px;
    border-radius: 10px;
}
.main .box-img{
    overflow: hidden;
    width: 270px;
    height: 270px;
    border-radius: 10px;
    margin-top: 26px;
}
.main .box-img img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
}
.main .box-paragraph{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 245px;
}
.main .box-paragraph .paragraph-One{
    font-size: 21px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
.main .box-paragraph .paragraph-Two{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
.attribution {
    font-size: 15px;
    text-align: center;
    display: flex;
    column-gap: 5px;
}
.attribution p {
    display: inline-block;
}
.attribution p a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}